aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
attrs==25.4.0
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.1.4
charset-normalizer==3.4.4
configparser==7.2.0
DateTime==6.0
distro==1.9.0
espn-api==0.45.1
frozenlist==1.8.0
idna==3.11
janitor-rs==0.3.0
jpype1==1.5.2
multidict==6.7.1
multipledispatch==1.0.0
myql==1.2.7
natsort==8.4.0
nba_api==1.11.4
nbainjuries==1.1.0
numpy==2.4.1
oauthlib==3.3.1
packaging==26.0
pandas==2.3.3
pandas-flavor==0.8.1
polars==1.37.1
polars-runtime-32==1.37.1
propcache==0.4.1
psycopg2-binary==2.9.11
pyaml==24.12.1
pyarrow==23.0.0
pyjanitor==0.32.9
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.3
rauth==0.7.3
requests==2.32.5
requests-oauthlib==2.0.0
scipy==1.17.0
setuptools==80.10.2
six==1.17.0
soupsieve==2.8.3
SQLAlchemy==2.0.46
sqlalchemy-cockroachdb==2.0.3
stringcase==1.2.0
tabula-py==2.10.0
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.2.3
xarray==2025.12.0
yahoo-oauth==2.1.1
yarl==1.22.0
yfpy==17.0.0
zope.interface==8.2
