asyncio==4.0.0
beautifulsoup4==4.13.5
bs4==0.0.2
certifi==2025.8.3
charset-normalizer==3.4.3
configparser==7.2.0
DateTime==5.5
distro==1.9.0
espn-api==0.45.1
idna==3.10
myql==1.2.7
nba_api==1.10.1
nest-asyncio==1.6.0
numpy==2.3.3
oauthlib==3.3.1
pandas==2.3.2
pandasql==0.7.3
pyaml==24.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
rauth==0.7.3
requests==2.32.5
requests-oauthlib==2.0.0
setuptools==80.9.0
six==1.17.0
snakecase==1.0.1
soupsieve==2.8
SQLAlchemy==2.0.43
stringcase==1.2.0
tabula-py==2.10.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.2.3
yahoo-oauth==2.1.1
yfpy==17.0.0
zope.interface==8.0
